###
# Unity folders and files
###
.idea/
[Aa]ssets/AssetStoreTools*
[Aa]ssets/Plugins/
[Bb]uild/
[Ll]ibrary/
[Ll]ogs/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
[Uu]ser[Ss]ettings/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta
!/[Aa]ssets/**/*.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb

###
# OS generated
###
._*
.DS_Store
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db